<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
  
  <!-- pulling from manifest -->
  <%= stylesheet_link_tag 'admin'%>
  
  <!--pulling directly from assets-->
  <%= stylesheet_link_tag 'posts'%>
</head>
<body>

<%= yield %>

</body>
</html>
